/** CSS STYLE **/
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Neucha;
  src: url(../fonts/Neucha/Neucha-Regular.ttf);
}

:root {
  --white: white;
  --trans-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --dark-main: #42413c;
  --dark: #2a2626;
  --trans-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;
  padding: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1 {
  font-weight: normal;
  font-size: 72px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h2 {
  font-weight: normal;
  font-size: 60px;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h3 {
  font-weight: normal;
  font-size: 34px;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

.back {
  position: relative;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

.block {
  position: relative;

  max-width: 1110px;
  margin: auto;
  padding: 100px 0;
}

.back::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 914px;

  background-color: var(--trans-white);
  background-image: url("../img/background.png");

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.reverse {
  color: var(--white);

  background-color: var(--brown);
}

header img {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.block > h1 {
  position: relative;

  margin: 0 auto 185px;
}

.color-main {
  color: var(--main);
}

.column {
  column-count: 2;
  column-gap: 30px;
}

.block-main .column {
  margin-top: 185px;
}

.column p {
  margin-top: 0;
}

.block-main .column p:first-child {
  margin-bottom: 81px;
}

.btn {
  margin-top: 24px;
  padding: 12px 24px;

  border: none;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--main);
}

.block-2 {
  margin-bottom: -200px;

  text-align: center;
}

.block-2 h2 {
  margin: 0 auto 30px;
}

.video {
  border: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.nav {
  background-color: var(--dark-main);
}

.block-3 {
  display: flex;
  flex-wrap: wrap;

  padding-top: 200px;
}

.block-3 a {
  color: inherit;
  text-decoration: none;
}

.block-3 h3 {
  color: var(--main);
}

.nav-text {
  margin: 0;

  color: var(--white);
  font-size: 52px;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

.card {
  padding: 24px;

  background-color: var(--light);
}

.card:hover {
  color: var(--white);

  background-color: var(--main);
}

.card:hover h3 {
  color: var(--white);
}

.cell {
  display: flex;
  width: 350px;
  margin: 10px 10px;
}

.number {
  margin: 0 0 40px;

  font-size: 64px;
  font-family: "Neucha", sans-serif;
  line-height: 1em;
}

.block img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.block-4 img {
  margin-right: 30px;
}

.block-4 > .column {
  height: 125px;
}

.block-subtotal {
  font-size: 24px;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

.block-description {
  margin-top: 30px;

  font-size: 34px;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

.block-container {
  display: flex;
}

.block-title {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;

  background-color: var(--brown);
}

.reverse .block-title {
  color: var(--brown);

  background-color: var(--white);
}

.block-5 img {
  margin-left: 30px;
}

.block-6 img {
  margin-right: 30px;
}
