/** CSS STYLE **/
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Neucha;
  src: url(../fonts/Neucha/Neucha-Regular.ttf);
}

:root {
  --white: white;
  --trans-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --dark-main: #42413c;
  --dark: #2a2626;
  --trans-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;
  padding: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1 {
  font-size: 72px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h2 {
  font-size: 60px;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h3 {
  font-size: 34px;
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

h4 {
  font-family: "Neucha", sans-serif;
  line-height: 1.2em;
}

header {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.block {
  position: relative;

  max-width: 1110px;
  margin: 0 auto;
}

header::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 914px;

  background-color: var(--trans-white);
  background-image: url("../img/background.png");

  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.block img {
  position: absolute;
  top: -55px;
  right: -270px;

  height: 525px;
}

.block > h1 {
  position: relative;

  margin: 100px auto 185px;
}

.color-main {
  color: var(--main);
}

.column {
  column-count: 2;
  column-gap: 30px;
}

.block-main .column {
  margin-top: 185px;
}

.column p {
  margin-top: 0;
}

.block-main .column p:first-child {
  margin-bottom: 81px;
}

.btn {
  margin-top: 24px;
  padding: 12px 24px;

  border: none;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--main);
}

.block-2 {
  margin-bottom: -100px;

  text-align: center;
}

.block-2 h2 {
  margin: 200px auto 30px;
}

.video {
  border: 0;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.block-3 {
  z-index: -1;

  background-color: var(--dark-main);
}
